<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%if (process.env.NODE_ENV !== 'development') { %>
      <link rel="stylesheet" type="text/css" href='/stylesheets/feature_1.<%= version %>.css' />
    <% } %>
    <title>Feature 2</title>
  </head>
  <body>
    <% include templates/noscript.ejs %>
    <div id="navbar"><%- navbarHTML %></div>
    <% include templates/flash.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lead text-center" data-testid="view-name">Feature 2</h1>
        </div>
      </div>
    </div>
    <div id="footer"><%- footerHTML %></div>
    <script>
      window.navbarProps = <%- navbarProps %>;
      window.footerProps = <%- footerProps %>;
    </script>
    <script src="/javascripts/feature_1.<%= version %>.js"></script>
  </body>
</html>
